body {
    background-color: #425945; /* Dark background */
    color: #faf0ca; /* Light text color */
    font-family: 'MyCustomFont', sans-serif; /* Use your custom font */
}

h1, h2, h3, h4, h5, h6, {
    font-family: 'Minecraft', sans-serif; /* Ensure headings use the custom font */
}
p {
    font-family: 'Minecraft', sans-serif; /* Ensure paragraphs use the custom font */
}

a {
    color: #ffaaf2; /* Change this to your desired link color */
    text-decoration: none; /* Optional: remove underline */
}

a:hover {
    color: #faf0ca; /* Change this to your desired hover color */
    text-decoration: underline; /* Optional: add underline on hover */
}

a:visited {
    color: #ffaaf2; /* Change this to your desired visited link color */
}

@font-face {
    font-family: 'Minecraft'; /* Name you want to use for the font */
    src: url('{{ '/assets/Minecraft.otf' | relative_url }}') format('truetype');
    font-weight: normal; /* Adjust as needed */
    font-style: normal; /* Adjust as needed */
}


/* Add more styles as needed for other elements */
